version: "3.8"

services:
  backend:
    build: .
    container_name: devops-backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    container_name: devops-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
 
  nginx:
    image: nginx:alpine
    container_name: devops-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend

volumes:
  mongo_data:
